extends ../../layout/plantilla
block contenido
    link(rel="stylesheet", href="../css/TablaPacientes.css")
    script(src="../js/script.js")
    div(class="container", id="dttablaSecretarias") 
      h3(style="text-align: center", id="titulo") Secretarias
      div(class="row")
        div(class="col")
            if listaPersonal.length  !== 0
              table(id="tablaSecretarias", class="table table-striped")
                thead
                  tr
                    th(class="text-center") Nombre
                    th(class="text-center") Apellido
                    th(class="text-center") DNI 
                    th(class="text-center") Email
                    th(class="text-center") Titulo
                tbody
                  each persona in listaPersonal 
                  
                    tr
                      td(class="text-center")= `${persona.nombre}`  
                      td(class="text-center")= `${persona.apellido}`  
                      td(class="text-center")= `${persona.dni}`  
                      td(class="text-center")= `${persona.email}`  
                      td(class="text-center")= `${persona.titulo}`
            else
              h2(style="text-align: center") No se encontraron secretarias cargadas.
            
            button.btn.btn-primary(disabled=true, id="agregarSecretaria", data-toggle='modal', data-target='#myModal') Abrir Formulario
            //- este boton abre un formulario que esta en otro archivo.
            //-este es el formulario-//
            include crearSecretaria.pug
            
             
           
    
        //- button(onclick="ocultar('ocultable')") ocultar tabla
        //- Más filas aquí
    script(src="https://code.jquery.com/jquery-3.7.0.js")
    script(src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js")
    script(src="https://cdn.datatables.net/select/1.7.0/js/dataTables.select.min.js")
    script(src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js")
    script(src="../js/iniciarTablaSecretarias.js")