extends ../../layout/plantilla

block contenido 
    body()
        div.container
            
            form(method="post", id="formulario", action="")
                h1 Actualizar Paciente:

                label(for='nombre') Nombre:
                input(type='text', id='nombre', name='nombre', value=persona.nombre)
                
                br
                label(for='apellido') Apellido:
                input(type='text', id='apellido', name='apellido', value=persona.apellido)
                
                br
                label(for="dni") DNI:
                input(type='text', id='dni', name='dni', value=persona.dni)

                br
                label(for="telefono") Telefono:
                input(type='text', id='telefono', name='telefono', value=persona.telefono)
                
                br
                label(for='email') Mail:
                input(type='email', id='email', name='email',  value=persona.email)
                br
                
                label(for='selectorSexo', style="display: block") Sexo:
                
                    select(form = "formulario", name="sexo", id="selectorSexo", required)
                        if `${persona.sexo}` == 'Masculino'
                            option(value="Masculino", id="Masculino", selected) Masculino
                            option(value="Femenino", id="Femenino")  Femenino
                        else
                            option(value="Femenino", id="Femenino", selected)  Femenino
                            option(value="Masculino", id="Masculino") Masculino
                br
                label(for="embarazoSi", style="display: block") Embarazada:
                    if `${paciente.embarazada}` == 'true'
                        label(for="") Si
                            input(type="radio",form="formulario", id="embarazada" name="embar", checked, value=1)
                        label(for="") No 
                            input(type="radio",form="formulario",  id="embarazada" name="embar", value=0)  
                    else 
                        label(for="") Si
                            input(type="radio",form="formulario", id="embarazada" name="embar", value=1) 
                        label(for="") No 
                            input(type="radio",form="formulario", id="embarazada" name="embar",checked, value=0)
                br

                label(for='diagnostico') Diagnostico:
                input(type='text', id='diagnostico', name='diagnostico', value=persona.diagnostico)

                br
                label(for="estDiagnosticoSi", style="display: block") Tipo de Diagnostico:
                    if `${paciente.estDiagnostico}` == 'true'
                        label(for="") Confirmado
                            input(type="radio",form="formulario", id="estDiagnostico" name="estDiag", checked, value=1)
                        label(for="") Presunto 
                            input(type="radio",form="formulario",  id="estDiagnostico" name="estDiag", value=0)  
                    else 
                        label(for="") Confirmado
                            input(type="radio",form="formulario", id="estDiagnostico" name="estDiag", value=1) 
                        label(for="") Presunto 
                            input(type="radio",form="formulario", id="estDiagnostico" name="estDiag",checked, value=0)
                        
                label(for='fechaNac') Fecha de Nacimiento:
                input(type='date', form="formulario",  id='fechaNacimiento', name='fechaNacimiento', value=persona.fechaNacimiento)
                
                br
                label(for='domicilio') Domicilio:
                input(type='text', id='domicilio', name='domicilio', value=persona.domicilio)
                
                br
                div
                div(class="row")
                        div(class="col")
                            label(for="prov", style="display: block") Provincia:
                            input(type='text', form="formulario",  id='prov', name='prov', value=persona.provincia, disabled)
                            select(form = "formulario", name="provincia" id="selectorProvincia", required)
                                option(value="San Luis") San Luis
                                option(value="Mendoza") Mendoza
                                option(value="Cordoba") Cordoba   
                            br
                        div(class="col")
                            label(for="loc", style="display: block") Localidad:
                            input(type='text', form="formulario",  id='loc', name='loc', value=persona.localidad, disabled)
                            select(form = "formulario", name = "localidad", id="selectorLocalidad", required)
                                option(value="San Luis") San Luis
                                option(value="La Toma") La Toma  
                            br
                label(for='obraSocial') Obra social:
                input(type='obraSocial', id='obraSocial', name='obraSocial',value=persona.obraSocial)
                
                br
                label(for='numeroAfiliado') Numero de Afiliado:
                input(type='numeroAfiliado', id='numeroAfiliado', name='numeroAfiliado',value=persona.numeroAfiliado)
                
                br
                label(for='user') Nombre de usuario:
                input(type='text', id='user', name='user',  value=persona.user)
                
                button(type='submit', id="btGuardar") Guardar
                br
                br