extends ../../layout/plantilla
block contenido
    link(rel="stylesheet", href="//cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css")
    link(rel="stylesheet", href="../css/TablaPacientes.css")
    
    div(class="container", id="tablaPacientes") 
      h3(style="text-align: center", id="titulo") Pacientes 
      div(class="row", )
        div(class="col")
            if personas.length  !== 0
              table(id="miTabla", class="table table-striped")
                thead
                    tr
                      th(class="centered") Nombre
                      th(class="centered") Apellido
                      th(class="centered") DNI 
                      th(class="centered") email
                      th(class="centered") Provincia 
                      th(class="centered") Direccion
                      th(class="centered") Actualizar
                      th(class="centered") Eliminar
                tbody
                  each persona in personas 
                  
                    tr
                      td(class="centered")= `${persona.nombre}`  
                      td(class="centered")= `${persona.apellido}`  
                      td(class="centered")= `${persona.dni}`  
                      td(class="centered")= `${persona.email}`  
                      td(class="centered")= `${persona.provincia}`  
                      td(class="centered")= `${persona.domicilio}`
                      td(class="centered")
                        form( method="get", action=`/pacientes/actualizar/${persona.dni}`)
                          button(type="submit", value="editar" class="editar btn btn-primary") editar
                          
                      td(class="centered")
                        form(method="post", action=`/pacientes/borrar/${persona.dni}`)
                          button(type="submit", id="butonBorrar" class="borrar btn btn-danger") borrar
                      
            else
                h2(style="text-align: center") No se encontraron pacientes cargados.
            form( method="get", action=`/pacientes/crear`)
              button(type="submit", id="agregar", class="agregar btn btn-plus")  agregar 
    
        //- button(onclick="ocultar('ocultable')") ocultar tabla
        //- Más filas aquí
    script(src="https://code.jquery.com/jquery-3.7.0.js")
    script(src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js")
    script(src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js")
    script(src="https://cdn.datatables.net/select/1.7.0/js/dataTables.select.min.js")
    script(src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js")
    script(src="../js/iniciarDataTable.js")


    
   
    
    
    
    
