extends ../../layout/plantilla
block contenido
    link(rel="stylesheet", href="../css/TablaPacientes.css")
    div(class="container", id="dttablaPacientes") 
      h3(style="text-align: center", id="titulo") Pacientes 
      div(class="row")
        div(class="col")
            if personas.length  !== 0
              table(id="tablaPacientes", class="table table-striped")
                thead
                    tr
                      th(class="text-center") Nombre
                      th(class="text-center") Apellido
                      th(class="text-center") DNI 
                      th(class="text-center") Email
                      th(class="text-center") Provincia 
                      th(class="text-center") Direccion
                      th(class="text-center") Actualizar
                      th(class="text-center") Eliminar
                tbody
                  each persona in personas 
                  
                    tr
                      td(class="text-center")= `${persona.nombre}`  
                      td(class="text-center")= `${persona.apellido}`  
                      td(class="text-center")= `${persona.dni}`  
                      td(class="text-center")= `${persona.email}`  
                      td(class="text-center")= `${persona.provincia}`  
                      td(class="text-center")= `${persona.domicilio}`
                      td(class="text-center")
                        form(method="get", action=`/pacientes/actualizar/${persona.dni}`)
                          button(type="submit", class="borrar btn btn-primary") Editar

                          
                      td(class="text-center")
                        form(method="post", action=`/pacientes/borrar/${persona.dni}`)
                          button(type="submit", class="borrar btn btn-danger") Borrar
            else
              h2(style="text-align: center") No se encontraron pacientes cargados.
            button.btn.btn-primary(disabled=true, id="agregarPaciente", data-toggle='modal', data-target='#crear') Abrir Formulario
            //- este boton abre un formulario que esta en otro archivo.
            //-este es el formulario-//
            include formPrueba.pug
            //include editarPaciente.pug
             
           
    
        //- button(onclick="ocultar('ocultable')") ocultar tabla
        //- Más filas aquí
    script(src="https://code.jquery.com/jquery-3.7.0.js")
    script(src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js")
    script(src="https://cdn.datatables.net/select/1.7.0/js/dataTables.select.min.js")
    script(src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js")
    script(src="../js/iniciarTablaPacientes.js")
   
    


    
   
    
    
    
    
