extends ../../layout/plantilla
block contenido

    link(rel="stylesheet", href="../css/TablaPacientes.css")
    script(src="../js/script.js")
    div(class="container", id="dttablaPersonal")
    -let rutaBioquimico = '/personal/bioquimico';
    -let rutaTecnico = '/personal/tecnico';
    -let rutaSecretaria = '/personal/secretaria'; 
      if listaPersonal.length == 0 
        h3(style="text-align: center", id="titulo") Personal
      else
        if listaPersonal[0].especialidad 
          h3(style="text-align: center", id="titulo") Bioquimicos
         
        else 
          if listaPersonal[0].matricula
            h3(style="text-align: center", id="titulo") Tecnicos 
            
          else 
            h3(style="text-align: center", id="titulo") Secretarias
            
      div(class="row")
        div(class="col")
            if listaPersonal.length  !== 0
              table(id="tablaPersonal", class="table table-striped")
                thead
                  tr
                    th(class="text-center") Nombre
                    th(class="text-center") Apellido
                    th(class="text-center") DNI 
                    th(class="text-center") Email
                    th(class="text-center") Titulo
                    if tipoLista == "bioquimico"
                      th(class="text-center") Especialidad
                      th(class="text-center") Actualizar
                      th(class="text-center") Eliminar
                    if tipoLista == "tecnico"
                      th(class="text-center") matricula
                      th(class="text-center") Actualizar
                      th(class="text-center") Eliminar
                    if tipoLista == "secretaria" 
                      th(class="text-center") Actualizar
                      th(class="text-center") Eliminar
                    
                tbody
                  each persona in listaPersonal 
                  
                    tr
                      td(class="text-center")= `${persona.nombre}`  
                      td(class="text-center")= `${persona.apellido}`  
                      td(class="text-center")= `${persona.dni}`  
                      td(class="text-center")= `${persona.email}`  
                      td(class="text-center")= `${persona.titulo}`
                      if tipoLista == "bioquimico"
                        td(class="text-center")= `${persona.especialidad}`
                        td(class="text-center")
                          form( method="get", action=`${rutaBioquimico}/editar/${persona.dni}`)
                            button(type="submit", value="editar" class="editar btn btn-primary") Editar
                          
                        td(class="text-center")
                          form(method="post", action=`${rutaBioquimico}/borrar/${persona.dni}`)
                            button(type="submit", class="borrar btn btn-danger") Borrar
                      if tipoLista == "tecnico"
                        td(class="text-center")= `${persona.matricula}`
                        td(class="text-center")
                          form( method="get", action=`${rutaTecnico}/editar/${persona.dni}`)
                            button(type="submit", value="editar" class="editar btn btn-primary") Editar
                          
                        td(class="text-center")
                          form(method="post", action=`${rutaTecnico}/borrar/${persona.dni}`)
                            button(type="submit", class="borrar btn btn-danger") Borrar
                      if tipoLista == "secretaria"
                        td(class="text-center")
                          form( method="get", action=`${rutaSecretaria}/editar/${persona.dni}`)
                            button(type="submit", value="editar" class="editar btn btn-primary") Editar
                          
                        td(class="text-center")
                          form(method="post", action=`${rutaSecretaria}/borrar/${persona.dni}`)
                            button(type="submit", class="borrar btn btn-danger") Borrar
                     
              form#actualizarTabla(method='GET')
                div(class="container text-center")
                  div(class="row")
                    div(class="col-2")
                      button.btn.btn-primary(type="button" onclick=`enviarFormulario('${rutaSecretaria}')`) Secretarias
                    div(class="col-2")
                      button.btn.btn-primary(type="button" onclick=`enviarFormulario('${rutaBioquimico}')`) Bioquimicos
                    div(class="col-2")
                      button.btn.btn-primary(type="button" onclick=`enviarFormulario('${rutaTecnico}')`) Tecnicos
              br 
            else
              h2(style="text-align: center") No existen registros de #{tipoLista}. 
            
              
            div(class="container text-center")
                  div(class="row")
                    div(class="col-2")
                      button.btn.btn-primary(disabled=true, id="agregar", data-toggle='modal', data-target='#myModal') Agregar #{tipoLista}
            //- este boton abre un formulario que esta en otro archivo.
            //-este es el formulario-//
            if tipoLista == "bioquimico"
              include crearBioquimico.pug
            else 
              if tipoLista == "secretaria"
                include crearSecretaria.pug
              else 
                if tipoLista == "tecnico"
                  include crearTecnico.pug

        
    script(src="https://code.jquery.com/jquery-3.7.0.js")
    script(src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js")
    script(src="https://cdn.datatables.net/select/1.7.0/js/dataTables.select.min.js")
    script(src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js")
    script(src="../js/iniciarTablaPersonal.js")