extends ../layout/plantilla

block contenido 
    script(src="../js/pruebaScript.js")
    div.container
        p Buscar
         div    
            if persona != null
                form(action="/paciente/actualizar" method="post" id="formulario")
                    label(for='nombre') Nombre:
                    input(type='text', id='nombre', name='nombre', value=persona.nombre)
                    br
                    br
                    label(for='apellido') Apellido:
                    input(type='text', id='apellido', name='apellido', value=persona.apellido)
                    br
                    br
                    label(for='dni') Dni:
                    input(type='text', id='dni', name='dni', value=persona.dni)
                    br
                    br
                    label(for='mail') Mail:
                    input(type='email', id='mail', name='email', value=persona.email)
                    br
                    br
                    label(for='sexo') Sexo:
                    input(type='text', id='sexo', name='sexo', value=persona.sexo)
                    br
                    br
                    label(for='fechaNacimiento') Fecha de Nacimiento:
                    input(type='date', id='fechaNacimiento', name='fechaNacimiento', value=persona.fechaNacimiento)
                    br
                    br
                    label(for='domicilio') Domicilio:
                    input(type='text', id='domicilio', name='domicilio', value=persona.domicilio)
                    br
                    br
                    label(for='provincia') Provincia:
                    input(type='provincia', id='provincia', name='provincia', value=persona.provincia)
                    br
                    br
                    label(for='localidad') Localidad:
                    input(type='localidad', id='localidad', name='localidad', value=persona.localidad)
                    br
                    br
                    label(for='obraSocial') Obra social:
                    input(type='obraSocial', id='obraSocial', name='obraSocial', value=persona.obraSocial)
                    br
                    br
                    label(for='numeroAfiliado') Numero de Afiliado:
                    input(type='numeroAfiliado', id='numeroAfiliado', name='numeroAfiliado', value=persona.numeroAfiliado)
                    br
                    br
                    label(for='user') Nombre de usuario:
                    input(type='text', id='user', name='user', value=persona.user)
                    br
                    br
                    label(for='password') Contraseña:
                    input(type='password', id='password', name='password', value=persona.password)
                    br
                    br
                    button(type='submit', id="btGuardar") Guardar
                    br
                    br
            
               
                
       
            
            form( method="post", name="formPrueba", action="/paciente/buscar")
               
                label(for='dni') Ingrese Dni:
                input(type='text/plain', id ="dniBuscar", name='dniBuscar')
                br
                br 
                div(class="row text-center")
                    div(class="col")
                        button(type="submit" ) Buscar
                    div(class="col text-center")
                        a(href="http://localhost:3000/persona") 
                            button(type="button") Agregar Paciente
                
    script(src="")
    