extends ../layout/plantilla
block contenido
    link(rel="stylesheet", href="//cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css")
    link(rel="stylesheet", href="../css/TablaPacientes.css")
    
    div(class="container", id="tablaExamen") 
      h3(style="text-align: center", id="titulo") Examenes
      div(class="row", )
        div(class="col")
            if examenes.length  !== 0
              table(id="miTabla", class="table table-striped")
                thead
                    tr
                      th(class="centered") Nombre
                      th(class="centered") Valor referencia Hombre Desde
                      th(class="centered") Valor referencia Hombre Hasta 
                      th(class="centered") Valor referencia Mujer Desde
                      th(class="centered") Valor referencia Mujer Hasta
                      th(class="centered") Valor referencia Niño Desde
                      th(class="centered") Valor referencia Niño Hasta
                      th(class="centered") Actualizar
                      th(class="centered") Eliminar
                tbody
                  each examen in examenes 
                  
                    tr
                      td(class="centered")= `${examen.nombre}`  
                      td(class="centered")= `${examen.valRefHombreD}`  
                      td(class="centered")= `${examen.valRefHombreH}`  
                      td(class="centered")= `${examen.valRefMujerD}`  
                      td(class="centered")= `${examen.valRefMujerH}`  
                      td(class="centered")= `${examen.valRefNinioD}`
                      td(class="centered")= `${examen.valRefNinioH}`
                      td(class="centered")
                        form( method="get", action=`/examenes/actualizar/${examen.id}`)
                          button(type="submit", value="editar" class="editar btn btn-primary") Editar
                          
                      td(class="centered")
                        form(method="post", action=`/examenes/borrar/${examen.id}`)
                          button(type="submit", id="butonBorrar" class="borrar btn btn-danger") Eliminar         
            else
                h2(style="text-align: center") No se encontraron examenes cargados.

            form( method="get", action="examenes/crear")
              button(type="submit", id="agregar", class="agregar btn btn-plus") Agregar 

    
        //- button(onclick="ocultar('ocultable')") ocultar tabla
        //- Más filas aquí
    script(src="https://code.jquery.com/jquery-3.7.0.js")
    script(src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js")
    script(src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js")
    script(src="https://cdn.datatables.net/select/1.7.0/js/dataTables.select.min.js")
    script(src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js")
    script(src="../js/iniciarDataTable.js")